<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Product</h3>
<p>
  <a th:href="@{/expenditures}">
    Back to expenditures list
  </a>
</p>
<div id="form">
  <form th:action="@{/expenditures/save}" th:object="${expendituresForm}"
        method="POST" novalidate="novalidate" enctype="multipart/form-data">
    <input type="hidden" th:field="*{expenditures_id}"/>
    <div>
      <label>Name</label>
      <input type="text" th:field="*{expenditures_name}"/>
    </div>
    <div>
      <label>Money</label>
      <input type="text" th:field="*{expenditures_money}"/>
    </div>
    <div>
      <label>Description</label>
      <input type="text" th:field="*{expenditures_description}"/>
    </div>
    <div>
      <label>Image</label>
      <input type="file" th:field="*{expenditures_image}"/>
    </div>
    <input type="submit" value="Save"/>
  </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>